$white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$primaty-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$section-border-color: #ececec;
$card-content-border-color: #eeeeee;
$footer-bg-color: #2f303a;
$footer-main-color: rgba(255, 255, 255, 0.6);
$footer-bottom-text: rgba(255, 255, 255, 0.4);
$social-color: #afb1b8;
$icon-bg-footer-color: rgba(255, 255, 255, 0.1);
$portfolio-overlay-color: rgba(33, 150, 243, 0.9);
$service-title-bg-cololor: rgba(47, 48, 58, 0.8);
$background-color: rgba(0, 0, 0, 0.2);
$border-color: rgba(255, 255, 255, 0.3);
$close-border-color: rgba(0, 0, 0, 0.1);
$box-shadow-color1: rgba(0, 0, 0, 0.15);
$box-shadow-color2: rgba(0, 0, 0, 0.14);
$box-shadow-color3: rgba(0, 0, 0, 0.12);
$box-shadow-color4: rgba(0, 0, 0, 0.16);
$box-shadow-color5: rgba(0, 0, 0, 0.06);
$textarea-border-color: rgba(33, 33, 33, 0.2);

$main-font: Roboto, sans-serif;
$logo-font: Raleway;

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
